In [1]:
################################################################################
# Load the dataset # 
################################################################################

import pandas as pd
fakeGPPS = pd.read_csv(r"\\tsclient\G\NHS CB\Analytical Services (Outcomes Analysis Team)\Domain 1\Cancer\10. SCISP\GPPS\Data Science\GPPS Clustering\GPPSClustering_FakeData1000.csv", index_col=0)
fakeGPPS.head(5)

,Q3,Q4,Q72_1,Q72_2,Q72_3,Q72_4,Q72_5,Q72_6,Q63_1,Q63_2,...,gor_NAME,gor_id,practice_ru11ind,practice_ru11desc,rurality_new,imd1,rank_imd,depriv,Period,wt_new
mode,,,,,,,,,,,,,,,,,,,,,
1,-2,3,0,-3,-2,-3,-3,0,-1,-2,...,gor_NAME8,gor_id7,practice_r2,practice_r3,1,19,23653,4,Y12,43
1,2,5,0,0,-2,-1,-3,0,-3,-1,...,gor_NAME2,gor_id3,practice_r8,practice_r3,2,17,10251,3,Y12,38
3,0,-1,1,-1,-2,-2,-2,-1,1,1,...,gor_NAME6,gor_id9,practice_r1,practice_r7,1,16,13691,8,Y12,9
2,5,-1,-3,-2,-1,-1,1,-3,-3,-1,...,gor_NAME1,gor_id10,practice_r1,practice_r1,2,10,16952,9,Y12,2
3,-3,-1,1,-3,0,-2,-3,-2,1,-1,...,gor_NAME4,gor_id1,practice_r2,practice_r9,2,18,24191,3,Y12,11

In [2]:
pwd

'C:\\Users\\AWang'